In [9]:
#wap to contains 3 values in one key.

x= {"name":["Rahul","Ravi","Rohan"] ,"age":[18,20]}
x["age"]

[18, 20]

In [22]:
#Wap contains 3 employee(values) in single key print last two valaues(employee) with its sallery. 

x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}
print("Employee name :",x["employee"][-1],"sallery is :-",x["salery"][-1])
print(x["employee"][-2],x["salery"][-2])

Employee name : Rohan sallery is :- 22
Ravi 20

In [26]:
#Wap contains 3 employee(values) in single key print sum of total values(sallery).


x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}
sum(x["salery"])

60

In [27]:
#SAME QUESTION WITH DIFFERENT LOGICabs



x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}

x["salery"]
sum=0
for i in x["salery"]:
    sum = sum+i
print(sum)

60

In [ ]:
                                        #OPERATION IN DICTIONARY

In [30]:
#fIND the number of id(Keys).



x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}
n=len(x)
print("The length of the id is:",n)

The length of the id is: 2

In [32]:
#Same question.

#fIND the number of id(Keys).



x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22],"place":["kanpur","noida","banglore"]}
n=len(x)
#x = employee, salery, place (therefore , number of keys is 3)
print("The length of the id is:",n)

The length of the id is: 3

In [35]:
#Modifying the values .

x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":50000}
x["salery"]

50000

In [38]:
#previous salery is 50000. Now, modify it.
x["salery"]=60000
print(x["salery"])

60000

In [42]:
#Example 2 of  Modifying the values.

alien = {"color":"green"}
alien["color"]

'green'

In [45]:
#Now modifying it.

alien["color"]="red"
print(alien["color"])

red

In [49]:
#Wap to add one key with its one value.


x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}

#we add key(Palace) with its value(Noida)

x["Palace"]="noida"
print(x)

{'employee': ['Rahul', 'Ravi', 'Rohan'], 'salery': [18, 20, 22], 'Palace': 'noida'}

In [51]:
#To check the key in the list or not.

x= {"employee":["Rahul","Ravi","Rohan"] ,"salery":[18,20,22]}

#check employee(key )

"employee" in x

True

In [54]:
#Duplicates values are not allowed in dictionary.

#Example - 

x= {"employee":"Rahul" ,"salery":500}
x

{'employee': 'Rahul', 'salery': 500}

In [56]:
#now we add Duplicates key and values. To check whether its allowed or not.

x= {"employee":"Rahul" ,"salery":500,"salery":600}

x
#see output get updated because it doesnt allow duplicates keys and values.
#And if you add it , it will get updated by last value.

{'employee': 'Rahul', 'salery': 600}

In [61]:
#If you want to clear the inside the dictionary.
#use clear() function.

#Example - 

x= {"employee":"Rahul" ,"salery":500,"salery":600}
x.clear()
print(x)

{}

In [62]:
#check type of x ?

type(x)

dict

In [65]:
#if you want to make a copy of list use copy() function.


x= {"employee":"Rahul" ,"salery":500,"salery":600}
y=x.copy()

#Here we copy the data into y.

print(y)

#now print y to check the values.

{'employee': 'Rahul', 'salery': 600}

In [67]:
#Print the message if any value is not present in the list.


x= {"employee":"Rahul" ,"age":18}
x.get("salery","Its not available")

'Its not available'

In [68]:
x.get("id",10)

10

In [3]:
# use of get to find the values.

x= {"employee":["Rahul" ,"Raj"],"age":[18,20]}

x.get("age","No")

#we use get to find the values of age(Key)

[18, 20]

In [16]:
#Write a program that will return age of the employee if user provides name.
#if user is not in data set it will provide Employee is not exist.

x={"employee":["Rahul","Raj"] ,"age":[18,20]}
p=input("Enter employee name")
x.get("age","Employe is not exist")

Enter employee nameRahul

[18, 20]