In [2]:
x= [5,6,8,10,7,9]
for i in x:
    fact = 1
    for j in range(1,i+1):
        fact = fact * j
    if(fact %2 ==0):
        print(i," This factorial is even",fact)

5  This factorial is even 120
6  This factorial is even 720
8  This factorial is even 40320
10  This factorial is even 3628800
7  This factorial is even 5040
9  This factorial is even 362880

In [21]:
x= [5,6,8,10,7,9]
for i in x:
    fact = 1
    for j in range(1,i+1):
        fact = fact * j
    if(fact %2 ==0):
        print(i," This factorial is even",fact)
        sum = sum+j
print(sum)

5  This factorial is even 120
6  This factorial is even 720
8  This factorial is even 40320
10  This factorial is even 3628800
7  This factorial is even 5040
9  This factorial is even 362880
399

In [8]:
x = [3,6,10,21]
sum=1
for i in x:
    sum = sum * i
    print(sum)

3
18
180
3780

In [26]:
x = [9,10,32,21,4]
max = 1
for i in x:
    if(i>max):
        max=i
print(max)

9
10
32
32
32

In [39]:
x = [27,32,41,49,82,83,99]
max=1
for i in x:
    if(i>max):
        max = i
        if( max % 2==0):
            max=1
print(max)

99

In [5]:
x = [3,9,11,22,42]
sum = 0
for i in x:
    if( i %2 ==0):
        sum=sum+i
print(sum)

64

In [5]:
#Print items through index values.
x=[2,3,4,5,6,8]
print(x[4])

6

In [3]:
#Change Values through positive index values.
x=[2,3,4,5,6,8]
x[4]=10
print(x)

[2, 3, 4, 5, 10, 8]

In [4]:
#Change Values through negative index values.
x=[2,3,4,5,6,8]
x[-1]=10
print(x)

[2, 3, 4, 5, 6, 10]

In [6]:
#Add some items through append () function ,at the last position of the list.
x=[2,3,4,5,6,8]
x.append(12)
print(x)

[2, 3, 4, 5, 6, 8, 12]

In [1]:
#Print Table of 6

for i in range(1,11):
    print(6*i)

6
12
18
24
30
36
42
48
54
60

In [2]:
#Print numbers, which are greater than 4.

x = [21,32,5,6,10,4,3,2,1]
for i in x:
    if(i >4):
        print(i)

21
32
5
6
10

In [3]:
#Print Even numbers in given list.

x= [22,32,41,4,3,0,29,22]
for i in x:
    if(i%2==0):
        print(i)

22
32
4
0
22

In [5]:
#Print sum of even number in given list.

x= [20,32,41,52,62,100]
sum=0
for i in x:
    if(i%2==0):
        sum=sum + i
print(sum)

266

In [6]:
#Find number is prime or not ?

x =3824
k=0
for i in range(1,x+1):
    if(x%i==0):
        k=k+1
if(k==2):
    print(i,"is Prime Number.")
else:
    print(i,"is not prime number")

3824 is not prime number