In [ ]:
                               #DICTIONARIES FOR PYTHON

In [6]:
x= {"name":["ajay", "dinesh"],"age":[12,23]}
print(x.items())

dict_items([('name', ['ajay', 'dinesh']), ('age', [12, 23])])

In [7]:
                                        #KEYS (Arguments)
    

#Q )Find Total numbers of Keys?


x={"name":"Anand","age":24,"Course":"MCA"}
print(x.keys())


#There is number of keys are 3 (name,age,course)

dict_keys(['name', 'age', 'Course'])

In [18]:
#How we update x? 0r we can say that if we use some new keys how we update it.

x={"name":"Anand","age":24}
y={"course":"Mca","College":"Galgotia College"}

print(x.update(y))
print(x)



#Similary we can update y as x we update above



x={"name":"Anand","age":24}
y={"course":"Mca","College":"Galgotia College"}
print(y.update(x))
print(y)

None
{'name': 'Anand', 'age': 24, 'course': 'Mca', 'College': 'Galgotia College'}
None
{'course': 'Mca', 'College': 'Galgotia College', 'name': 'Anand', 'age': 24}

In [4]:
#SIMPLE EXAMPLE OF UPDATE.............


x={"name":"Anand","age":24}
y={"course":"Mca"}
print(x.update(y))
print(x)

None
{'name': 'Anand', 'age': 24, 'course': 'Mca'}

In [29]:
#How we add Keys and Values in EMPTY DICTIONARIES


x={}
x["name"]="anand"
print(x)




#Add more Keys and values.

x["college"]="Galgotia College"
print(x)

#add one more key


x["age"]=24
print(x)

{'name': 'anand'}
{'name': 'anand', 'college': 'Galgotia College'}
{'name': 'anand', 'college': 'Galgotia College', 'age': 24}

In [1]:
#Q ) Take 10 input from user "name and "age" , save it into Dictonary using Looping.

m={}
for i in range(5):
    x=input("Enter the Name:")
    y=input("Enter the Age:")
    m[x]=y
    print(m)

Enter the Name:Anand
Enter the Age:23
{'Anand': '23'}
Enter the Name:Sofia
Enter the Age:18
{'Anand': '23', 'Sofia': '18'}
Enter the Name:Kittu
Enter the Age:22
{'Anand': '23', 'Sofia': '18', 'Kittu': '22'}
Enter the Name:Ankita
Enter the Age:21
{'Anand': '23', 'Sofia': '18', 'Kittu': '22', 'Ankita': '21'}
Enter the Name:Apoorva
Enter the Age:20
{'Anand': '23', 'Sofia': '18', 'Kittu': '22', 'Ankita': '21', 'Apoorva': '20'}

In [ ]:
                            #Pop() use to remove elements from the List.

In [1]:
#Q ) Remove element from the list using pop().

x={"name":"Anand","age":24,"course":"Mca"}
x.pop("course")
print(x)

{'name': 'Anand', 'age': 24}

In [3]:
#Q ) Remove element from the list using pop() which is not available in the List.


x={"name":"Anand","age":24,"course":"Mca"}
x.pop("Gender","Not Available")

'Not Available'

In [8]:
                #setdefault() method
    
    
#The setdefault() method returns the value of the item with the specified key.

#Note-----(If the key is not exist, insert the key with the specified value.)


#Example 1)  

x={"name":"Anand","age":24}
x.setdefault("name","Kittu")


#ANd same methods




x={"name":"Anand","age":24}
y=x.setdefault("name","Kittu")
print(y)

Anand

In [19]:
#Add one key and its value with using setdefault() method.

x={"name":"Anand","age":24}
x.setdefault("course","MCA")
print(x)


#ANd


x={"name":"Anand","age":24}
y=x.setdefault("course","MCA")
print(x)

{'name': 'Anand', 'age': 24, 'course': 'MCA'}
{'name': 'Anand', 'age': 24, 'course': 'MCA'}

In [12]:
#Example 2)


car={
    "Brand":"Lambo",
    "Model":"Aventador",
    "Year":2020,
}
x=car.setdefault("Model","Huracan")
print(x)

Aventador

In [14]:
#other Example


car={
    "Brand":"Lambo",
    "Model":"Aventador",
    "Year":2020,
}
x=car.setdefault("Color","RED")
print(x)

RED

In [5]:
#Write a Program to make Dictionary from User.

m={}
for i in range(4):
    x=input("Enter Keys :")
    y=input("Enter Values :")
    print(m.update({x:y}))
    print(m)

Enter Keys :Name
Enter Values :Anand
None
{'Name': 'Anand'}
Enter Keys :Age
Enter Values :24
None
{'Name': 'Anand', 'Age': '24'}
Enter Keys :Course
Enter Values :MCA
None
{'Name': 'Anand', 'Age': '24', 'Course ': 'MCA'}
Enter Keys :College
Enter Values :GCET
None
{'Name': 'Anand', 'Age': '24', 'Course ': 'MCA', 'College ': 'GCET'}

In [12]:
                              #For loop with Dictionaries

#To print keys.    
    
x={
    "Anand":[23,14],
    "Kittu":[34,22],
    "Rahul":[26,66],
}
for i in x:
    print(i)

Anand
Kittu
Rahul

In [15]:
#To Print values.

x={
    "Anand":[23,14],
    "Kittu":[34,22],
    "Rahul":[26,66],
}
for i in x:
    print(x.get(i,"Not Available"))
    print(i)

[23, 14]
Anand
[34, 22]
Kittu
[26, 66]
Rahul

In [16]:
#Print keys .

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i in colors:
    print(i)

r
g
b
w

In [30]:
#Print Values .

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i in colors:
    print(colors[i])

red
green
black
white

In [22]:
#Print Values with different get() method . 

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i in colors:
    print(colors.get(i,"Not Available"))

red
green
black
white

In [28]:
 #And

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i in colors:
    print(colors.get(i,"Not Available"))
    print(i)

red
r
green
g
black
b
white
w

In [47]:
#USE of items() method. it used to seperate the items (keys and values).


colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
colors.items()

dict_items([('r', 'red'), ('g', 'green'), ('b', 'black'), ('w', 'white')])

In [42]:
#How we can print both Keys and Values.

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i,j in colors.items():
    print(i,j)

r red
g green
b black
w white

In [45]:
#Second type using format() method.

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
for i,j in colors.items():
    print("key={} value={}".format(i,j))

key=r value=red
key=g value=green
key=b value=black
key=w value=white

In [52]:
#Print Keys

colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
print(colors.keys())



#And Values


colors={"r":"red","g":"green","b":"blue","b":"black","w":"white"}
print(colors.values())

dict_keys(['r', 'g', 'b', 'w'])
dict_values(['red', 'green', 'black', 'white'])

In [ ]:
                        #How we Convert Lists into Dictionaries

In [70]:
x=[1,2,3,4,5]
y=["Anand","Kittu","Akash","Ankit","Ashish"]
z=zip(x,y)      #zip() method is iterator of tuples where the 1st item in each list 1 iterate with list 2 .
d=dict(z)       #convert tuple (z)  into list
print(d)        #print(List)

{1: 'Anand', 2: 'Kittu', 3: 'Akash', 4: 'Ankit', 5: 'Ashish'}